<html>
  <head>
    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>
    <!-- Load BodyPix -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0"></script>
    
 </head>

  <body>
    <div></div>
    <img id='image' src='../../assets/jjy.jpeg' crossorigin='anonymous'/>
    <div></div>
  </body>
  <script>
    const img = document.getElementById('image');

    async function loadAndPredict() {
      const net = await bodyPix.load(/** optional arguments, see below **/);
      /**
       * One of (see documentation below):
       *   - net.segmentPerson
       *   - net.segmentPersonParts
       *   - net.segmentMultiPerson
       *   - net.segmentMultiPersonParts
       * See documentation below for details on each method.
       */
      const segmentation = await net.segmentPersonParts(img);
      console.log(segmentation);
      const data=segmentation.allPoses[0].keypoints
    }
    loadAndPredict();
  </script>
  <style>
    #image{
      position: relative;
    }
  </style>
</html>